.cart-table {
    width: 90%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid var(--color-green);
    min-height: 300px;
    margin: 25px auto;
    border-radius: 8px;
    font-size: 16px;
}

.cart-table th, .cart-table td {
    padding: 20px;
    text-align: center;
    border-left: none;
    border-right: 1px solid var(--color-white-lighthouse);
    border-top: 1px solid var(--color-white-crystal);
    border-bottom: 1px solid var(--color-white-lighthouse);
    font-weight: 500;
}

.cart-table th {
    background-color: var(--color-mint-transparent);
    font-weight: 700;
}

.cart-table tr {
    transition: background-color 0.3s ease-in-out;
}

.cart-table tr:hover {
    background-color: var(--color-mint-frost);
}

.product-img {
    border: 1px solid #cce7cc;
    padding: 10px;
    border-radius: 8px;
    width: 100px;
    height: 100px;
    margin-right: 30px;
}


.quantity-value {
    font-weight: 400;
}

.cart-remove-btn {
    width: 70%;
    height: 50px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 15px;

    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    background-color: var(--color-red);
    color: var(--color-white-crystal);
}

.cart-remove-btn:hover {
    background-color: var(--color-red-darker);
}

#paymentbtn, #clearbtn {
    width: 300px;
    margin: 20px 10px;
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
    display: inline-block;
}

#paymentbtn {
    background-color: var(--color-green);
}

#paymentbtn:hover {
    background-color: var(--color-green-darker);
}

#clearbtn {
    background-color: var(--color-red);
    color: var(--color-white-crystal);
}

#clearbtn:hover {
    background-color: var(--color-red-darker);
}

