@import url(base.css);

footer {
    z-index: 1; /* Ensure it is lower than the autocomplete dropdown */
    position: relative; /* Avoid interference with absolute elements */
}

#footer-wave-svg {
    background-color: transparent;
    height: 30px;
    width: 100%;
    margin-bottom: -5px;
}
#footer-wave-path {
    /* fill: #212529; */
    fill: var(--color-black-carbon);
}

#footer-container{
    /* background: #212529; */
    background-color: var(--color-black-carbon);
    position: relative; /* Ensure it doesn't overlap absolute elements */
    z-index: 1; /* Lower than autocomplete dropdown */
}

#footer-top{
    padding-top: 50px;
}

#footer-top > *{
    width: 25%;
}


.footer-contact-heading{
    color: var(--color-white-crystal);
    font-family: "League Spartan", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0;
}

.menu-item{
    margin: 5% 0;
}

.menu-link{
    text-decoration: none;
    font-size: 18px;
    color: var(--color-grey-light);
    transition: color 0.3s ease-in-out, text-decoration 0.3s ease-in-out;
}

.menu-link:hover {
    color: var(--color-green);
    text-decoration: underline;
}

.contact-info-item{
    display: flex;
    align-items: center;
    height: 105px;
}

.footer-contact-icon > *{
    font-size: 30px;
    border: var(--color-black-carbon) solid 1px;
    color: var(--color-white-crystal);
    padding: 8px;
    border-radius: 50%;
    margin-right: 20px;
}

.footer-contact-title{
    color: var(--color-white-crystal);
    font-family: "League Spartan", sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0 0 0;
}

.footer-contact-content{
    color: var(--color-grey-light);
    margin: 10px 0 10px 0;
}

#divider{
    margin: 10px 100px 0px 100px;
    border-top: rgba(255,255,255,0.3) solid 1px;
}

#footer-bottom{
    margin: 0 100px;
    display: flex;
    justify-content: space-between;
}

#copyright{
    height: 100px;
    display: flex;
    align-items: center;
    color: var(--color-grey-light);
    font-size: 18px;
}

#payment-service{
    display: flex;
    align-items: center;
}

#payment-service > *{
    border-radius: 15%;
    background-color: #ffffff;
    margin-left: 20px;
}