@import url(base.css);

body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#header{
    height: 80px;
    width: 100%;
    background-color: var(--color-green-darker);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 999;
    transition: transform 0.3s ease;
}

#header .hidden {
    transform: translateY(-100%);
}

.navlink{
    margin: auto 20px;
    text-decoration: none;
    color: var(--color-white-crystal);
    transition: color 0.3s ease-in-out;
    font-weight: 300;
    font-size: 18px;
}

.navlink:hover {
    color: var(--color-black-pure);
}

#loginbtn{
    margin: auto 50px;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    background-color: var(--color-gold);
    text-align: center;
    text-decoration: none;
    color: var(--color-black-pure);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#loginbtn:hover {
    background-color: var(--color-black-pure);
    color: var(--color-white-crystal);
}