#content-container{
    display: flex;
    height: 500px;
    margin-top: 80px;
    padding: 120px 100px 80px 100px;
    background: linear-gradient(rgba(239,239,239,0.97), rgba(239,239,239,0.97)), url("../img/doodleart.jpg");
    background-size: 1520px 843px;
}

#info-container{
    width: 50%;
}

#info-title{
    color: #34A853;
}

#info-content{
    font-family: "League Spartan", sans-serif;
    letter-spacing: 3px;
    font-size: 72px;
    margin: 60px 0 100px 0;
    color: #000000;
}

#shopbtn{
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    background-color: #FFBB38;
    text-align: center;
    text-decoration: none;
    color: #000000;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#shopbtn:hover{
    background-color: #000000;
    color: #EFEFEF;
}

#img-container{
    width: 50%;
}

#service-container{
    height: 40px;
    background-color: #34A853;
    margin: 20px 100px;
    padding: 28px 80px;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}

.service-sub-container{
    display: flex;
    color: #EFEFEF;
    height: 40px;
}

.service-icon{
    font-size: 37px;
    margin-right: 10px;
}

.service-title{
    font-family: "League Spartan", sans-serif;
    font-size: 16px;
    margin: 5px 0 0 0;
}

.service-info{
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

#category-title-container{
    display: flex;
    justify-content: space-between;
    margin: 100px 100px 50px 100px;
}

#category-title{
    font-family: "League Spartan", sans-serif;
    font-size: 36px;
    margin: 0;
}

#view-all{
    font-family: "League Spartan", sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding-top: 10px;
    text-decoration: none;
    position: relative;
    color: #000000;
}

#view-all::before {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #000000;
  transition: width 0.3s ease-in-out;
}

#view-all:hover::before {
  width: 100%;
}

#category-container{
    margin: 0 100px 50px 100px;
    display: flex;
    justify-content: space-between;
}

.category-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.category-subcontainer{
    width: 190px;
}

.category-img-container{
    width: 190px;
    height: 190px;
    background-color: #34a8530f;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #34a8530f solid 1px;
}

.category-img-container > img{
    transition: transform 0.3s ease-in-out;
}

.category-img-container:hover img{
    transform: scale(1.2);
}

.category-img-container:hover{
    border: #34A853 solid 1px;
}

.category-name{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #797979;
    text-align: center;
    margin-top: 20px;
}