body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #EFEFEF;
    background-image: radial-gradient(circle at 10% 70%, #33e98c 25%, transparent 25.1%), radial-gradient(circle at 105% 0%, #EFEFEF 13%, transparent 13.1%), radial-gradient(circle at 105% 0%, #33e98c 20%, transparent 20.1%);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "League Spartan", sans-serif;
}

#container {
    height: 80%;
    width: 80%;
    display: flex;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#container-left {
    width: 50%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container-right {
    width: 50%;
    background-image: radial-gradient(circle at 35% 65%, #33e98c 25%, transparent 25.1%), radial-gradient(circle at 70% 40%, #47eb98 20%, transparent 20.1%), linear-gradient(to bottom right, #5ce69b, #13c86f);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-container {
    width: 65%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

#logo {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banana, #sis {
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 26px;
}

#banana {
    color: #FFD700;
}

#sis {
    color: #32CD32;
}

#input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.input-subcontainer {
    width: 100%;
    position: relative;
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.input-box {
    width: 100%;
    flex-grow: 1;
    padding: 16px 40px 16px 16px;
    line-height: 16px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #5ce69b;
    background: transparent;
    transition: border-color 0.2s;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}

.ti {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    font-size: 18px;
    z-index: 10;
}

.ti-eye, .ti-eye-off {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #888;
    font-size: 18px;
    display: block;
}

.ti-eye:hover, .ti-eye-off:hover {
    color: #555;
}

.label {
    user-select: none;
    position: absolute;
    bottom: 16px;
    left: 20px;
    transition: all 0.2s ease;
    color: #888;
    pointer-events: none;
    font-size: 18px;
}

.input-box:focus,
.input-box:valid {
    border-color: #13c86f;
    outline: solid 1px #13c86f;
    color: #4d4d4d;
}

.input-box:focus + .label,
.input-box:valid + .label {
    transform: translateX(-15px) translateY(-165%) scale(0.9);
    padding: 0 10px;
    color: #13c86f;
    background-color: #FFFFFF;
    z-index: 2;
}

#forgotpass{
    font-family: "League Spartan", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    position: relative;
    color: #4d4d4d;
    display: inline-block;
    align-self: flex-start;
}

#forgotpass::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #4d4d4d;
    transition: width 0.2s ease-in-out;
}

#forgotpass:hover::before {
    width: 100%;
}

#loginbtn{
    margin: 20px 0;
    padding: 20px 0;
    border: none;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    background-color: #13c86f;
    text-align: center;
    text-decoration: none;
    color: #4d4d4d;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
    display: inline-block;
}

#loginbtn:hover{
    background-color: #000000;
    color: #EFEFEF;
}

#signup-container {
    display: flex;
    justify-content: center;
}

#signup-container p {
    margin: 0 5px 0 0;
}

#signup-container a {
    color: #13c86f;
    transition: color 0.2s ease-in-out;
    text-decoration: underline;
}

#signup-container a:hover {
    color: #5ce69b;
}

#container-right p {
    font-family: "League Spartan", sans-serif;
    letter-spacing: 2px;
    font-size: 40px;
    font-weight: 700;
    color: #EFEFEF;
}