@keyframes backgroundSlide {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#payment-container {
    display: flex;
    justify-content: space-evenly;
}

.normal-label {
    margin-bottom: 10px;
    color: #1D1D1D;
}

.sm-input-box {
    padding: 16px 40px 16px 16px;
    border: 1px solid var(--color-grey);
    border-radius: 8px;
    box-sizing: border-box;
    pointer-events: pointer;
    font-size: 16px;
}

#order-summary-container,
#billing-details-container {
    width: 45%;
    margin: 50px auto;
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0 0px 6px rgba(0,0,0,0.1);
    box-sizing: border-box;
}

#billing-details-container .billing-detail-container {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

#summary-table,
#summary-table th, 
#summary-table td{
    text-align: right;
    line-height: 30px;
}

#summary-table td .price-tag {
    text-align: left;
}

#promo-amount {
    color: #13c86f !important;
}

.subtotal {
    border-top: solid #ccc 1px;
    padding-top: 20px;
}

.order-header {
    border-bottom: solid #ccc 1px;
    padding-bottom: 20px;
}

.total-price {
    border-top: solid #ccc 1px;
    border-bottom: solid #ccc 1px;
    padding: 20px 0;    
}

#pay-button,
.use-location-btn {
    background-color: var(--color-mint);
    color: var(--color-white-pure);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    display: block;
    width: 50%;
}

#pay-button {
    margin: 15px auto;
}

.use-location-btn {
    margin: 15px 0;
}

#pay-button:hover,
.use-location-btn:hover {
    background-color: var(--color-black-pure);
    color: var(--color-white-crystal);
}
