#profile-container {
    display: flex;
    width: 90%;
    min-height: 600px;
    margin: 20px auto;
    border: 1px solid #cce7cc;
    border-radius: 8px;
    overflow: hidden;
}

.sidebar {
    width: 250px;
    padding: 20px;
    height: 100%;
}

.content {
    flex-grow: 1;
    padding: 20px;
    height: 100%;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 20px 15px;
    border-right: 1px solid #ddd;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#logout-btn {
    padding: 0;
}

#logout-link {
    padding: 20px 15px;
    text-decoration: none;
    width: 100%;
    color: #000000;
}

.sidebar i {
    margin-right: 10px;
}


.sidebar li:hover {
    background-color: #ebebeb;
}

#personal-info-container {
    display: flex;
}

.input-subcontainer {
    width: 300px;
    position: relative;
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.input-box {
    width: 100%;
    padding: 16px 40px 16px 16px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    background: transparent;
    transition: border-color 0.2s;
    position: relative;
    box-sizing: border-box;
    outline: none;
}

.label {
    position: absolute;
    left: 16px;
    bottom: 16px;
    color: #888;
    pointer-events: none;
    transition: transform 0.2s, color 0.2s;
    transform-origin: left bottom;
    font-size: 16px;
}

.input-box:focus,
.input-box:not(:placeholder-shown) {
    border-color: #888;
    outline: solid 1px #888;
    color: #888;
}

.input-box:focus + .label,
.input-box:not(:placeholder-shown) + .label {
    transform: translateY(-135%) translateX(0%) scale(0.9);
    color: #888;
    background: #FFF;
    padding: 0 5px;
}


/* personal info */

#personal-info-input-container {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.input-file-container {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 50px 20px 0;
    background: #f9f9f9;
    cursor: pointer;
}

.image-preview-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

#image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.drag-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.input-file-container.dragover .drag-overlay {
    opacity: 1;
}

.input-file {
    display: none;
}

.btn{
    margin: 20px 0;
    padding: 15px 50px;
    border: none;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    background-color: #13c86f;
    text-align: center;
    text-decoration: none;
    color: #4d4d4d;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
    display: inline-block;
}

.btn:hover,
.reviewbtn:hover,
.viewbtn:hover,
#request-otp-btn:hover {
    background-color: #000000;
    color: #EFEFEF;
}

#request-otp-btn {
    margin: auto 0 auto 10px;
    height: 50px;
    width: 16rem;
    line-height: 16px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: var(--color-gold);
    text-align: center;
    text-decoration: none;
    color: var(--color-black-carbon);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
    display: inline-block;
}

.otp-sent-success {
    cursor: not-allowed!important;
}

/* payment */

.normal-label {
    margin: 0 20px;
    color: #888;
}

#expiry-date-input {
    padding: 8px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #888;
    outline: none;
    transition: border-color 0.2s ease-in-out;
}

#expiry-date-input:focus {
    border-color: #13c86f;
    box-shadow: 0 0 5px rgba(19, 200, 111, 0.3);
}

#card-type {
    padding: 8px 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 14px;
    color: #888;
    cursor: pointer;
}

#card-type:focus {
    border-color: #13c86f;
    outline: none;
    box-shadow: 0 0 5px rgba(19, 200, 111, 0.5);
}

/* address */

#address-input-container {
    width: 100%;
}

.edit-address-btn,
.edit-bank-btn {
    margin: 5px;
    padding: 10px;
    background-color: var(--color-blue-aqua);
}

.delete-address-btn,
.delete-bank-btn {
    margin: 5px;
    padding: 10px;
    background-color: var(--color-red-light);
}

.pac-container {
    z-index: 10000 !important; /* Ensure it appears above other elements */
    top: 50px !important;
    left: 0 !important;
}

/* Order History */

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #cce7cc;
    margin: 50px 0;
    border-radius: 8px;
}

.table th, .table td {
    padding: 10px;
    border-left: none;
    border-right: none;
    border-top: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
    font-weight: 500;
}

.table tr:first-child th:first-child {
    border-top-left-radius: 8px;
}
.table tr:first-child th:last-child {
    border-top-right-radius: 8px;
}
.table tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}
.table tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

.table th {
    background-color: #f0fff1;
    font-weight: 700;
}

.table tr {
    transition: background-color 0.3s ease-in-out;
}

.table tr:hover {
    background-color: #f5fff5;
}

.order-id-header,
.order-id {
    text-align: left;
}

.date-header,
.date,
.time-header,
.time,
.delivery-status-header,
.delivery-status,
.action-header {
    text-align: center;    
}

.total-price-header,
.total-price {
    text-align: right;
}

.action {
    display: flex;
}

.reviewbtn {
    margin: 10px auto;
    padding: 15px 15px;
    border: none;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    background-color: #FFBB38;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.no-action-btn {
    margin: 10px auto;
    padding: 15px 15px;
    border: none;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    background-color: var(--color-black-pure);
    text-align: center;
    text-decoration: none;
    cursor: not-allowed;
    color: var(--color-white-pure);
}

.ti.ti-circle-filled {
    color: #ff0000;
    font-size: 12px;
}

.ti.ti-check {
    color: #0fa059;
    font-size: 14px;
    font-weight: 900;
}

.viewbtn{    
    margin: 10px auto;
    padding: 15px 15px;
    border: none;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    background-color: #13c86f;;
    text-align: center;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Change Password */

#otp-btn {
    background-color: #f4f4f4;
    padding: 10px 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
    text-align: center;
    margin: auto 20px;
}

#otp-btn:hover {
    background-color: #ddd;
}

.ti-eye, .ti-eye-off {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #888;
    font-size: 18px;
    display: block;
}

.ti-eye:hover, .ti-eye-off:hover {
    color: #555;
}