@import url(base.css);

:root {
    --border-radius: 30px;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: auto;
    background-color: var(--color-white-crystal) ;
    background-image: radial-gradient(circle at 90% 30%, var(--color-yellow-light) 25%, transparent 25.1%), 
    radial-gradient(circle at -5% 100%, var(--color-white-crystal) 13%, transparent 13.1%), 
    radial-gradient(circle at -5% 100%, var(--color-yellow-light) 20%, transparent 20.1%);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "League Spartan", sans-serif;
}

#container {
    height: 80%;
    width: 80%;
    display: flex;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
}

#container-right {
    width: 50%;
    height: 100%;
    background-color: var(--color-white-pure);
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

#container-left {
    width: 50%;
    height: 100%;
    background-image: radial-gradient(circle at 35% 65%, var(--color-yellow-light) 25%, transparent 25.1%), 
    radial-gradient(circle at 70% 40%, var(--color-gold) 20%, transparent 20.1%), 
    linear-gradient(to bottom left, var(--color-yellow-light), var(--color-gold));
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

#register-container {
    width: 65%;
    display: flex;
    flex-direction: column;
}


#input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-subcontainer {
    width: 100%;
    position: relative;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box {
    width: 100%;
    flex-grow: 1;
    padding: 16px 40px 16px 16px;
    line-height: 16px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid var(--color-gold);
    background: transparent;
    transition: border-color 0.2s;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}

.ti-eye, .ti-eye-off {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: var(--color-grey);
    font-size: 18px;
    display: inline-block;
    text-align: center;
    transition: color 0.3s ease-in-out;
    z-index: 9999;
}

.ti-eye:hover, .ti-eye-off:hover {
    color: var(--color-black-carbon);
}

.label {
    user-select: none;
    position: absolute;
    bottom: 16px;
    left: 20px;
    transition: all 0.2s ease;
    color: var(--color-grey);
    pointer-events: none;
    font-size: 18px;
}

.input-box:focus,
.input-box:valid {
    border-color: var(--color-gold);
    outline: solid 1px var(--color-gold);
    color: #4d4d4d;
}

.input-box:focus + .label,
.input-box:valid + .label {
    transform: translateX(-15px) translateY(-165%) scale(0.9);
    padding: 0 10px;
    color: var(--color-gold);
    background-color: var(--color-white-pure);
    z-index: 2;
}

#registerbtn{
    margin: 20px 0;
    padding: 20px 0;
    border: none;
    border-radius: 8px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    background-color: var(--color-gold);
    text-align: center;
    text-decoration: none;
    color: var(--color-black-carbon);
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;
    outline: none;
    display: inline-block;
}

#registerbtn:hover{
    background-color: #000000;
    color: #EFEFEF;
}

#login-container {
    display: flex;
    justify-content: center;
}

#login-container p {
    margin: 0 5px 0 0;
}

#login-container a {
    color: var(--color-gold);
    transition: color 0.2s ease-in-out;
    text-decoration: underline;
}

#login-container a:hover {
    color: var(--color-yellow-light);
}

#container-left p {
    font-family: "League Spartan", sans-serif;
    letter-spacing: 2px;
    font-size: 40px;
    font-weight: 700;
    color: var(--color-black-carbon);
    width: 80%;
}