body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#header{
    height: 80px;
    width: 100%;
    background-color: #34A853;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: transform 0.3s ease;
}

#header.hidden {
    transform: translateY(-100%);
}

#navbar{
    display: flex;
}

#logo {
    display: flex;
    align-items: center;
    margin: auto 50px;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

#banana, #sis {
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 22px;
}

#banana {
    color: #FFF67E;
}

#sis {
    color: #BFEA7C;
}

#logo:hover{
    transform: scale(1.1);
}

.navlink{
    padding: 5px;
    margin: auto 15px;
    text-decoration: none;
    color: #EFEFEF;
    transition: color 0.3s ease-in-out;
}

.navlink:hover,
#user-features a:hover,
#user-features a:hover i {
    color: #000000;
}

#user-features {
    width: 300px;
    display: flex;
    align-items: center;
}

#user-features a {
    padding: 5px;
    margin: auto 15px;
    text-decoration: none;
    color: #EFEFEF;
    transition: color 0.3s ease-in-out;
    display: flex;
    align-items: center;
}

#user-features i {
    margin: auto 5px;
    text-decoration: none;
    color: #EFEFEF;
    transition: color 0.3s ease-in-out;
    font-size: 24px;
}

.profile-menu {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.profile-menu img {
    cursor: pointer;
    border-radius: 50%; /* Circular image for profile */
    border: 2px solid white; /* Adds a white border around the profile image */
}

.profile-dropdown {
    position: absolute;
    top: 60px; /* Adjust based on your header's height */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    display: none; /* Hidden by default */
    z-index: 1001; /* Higher z-index to ensure dropdown is on top of other elements */
}

.profile-dropdown a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
    white-space: nowrap; /* Ensures text doesn't wrap */
}

.profile-dropdown a:hover {
    background-color: #f0f0f0; /* Light grey background on hover */
}
